.navbar-pokedex {
  background-color: #ffcc00;
  font-weight: bold;
}

.brand-pokedex {
  color: #17285e;
  font-weight: bold;
}

.btn-danger {
  background-color: #dc0a2d;
}

.btn-danger:hover {
  background-color: #c70021;
}

.btn-dark {
  background-color: #17285e;
}

.btn-dark:hover {
  background-color: #0e1c49;
}

html,
#root {
  background-color: #fffbcd;
}

.my-pagination > .pagination-arrow {
  font-size: 30px;
  background: none;
  border: none;
  line-height: normal;
  text-align: center;
  padding: 0 8px;
  color: #17285e;
}

.pagination-arrow.visibility-hidden {
  visibility: hidden;
}

.my-pagination {
  display: flex;
  align-items: center;
}

.pokemon-info-container {
  display: flex;
}

.pokemon-info {
  flex: 1;
  padding-left: 10px;
  font-size: small;
  color: #333;
}

.pokemon-info > p {
  animation: fadeIn ease-in-out 0.3s;
}

.card-sprite > img {
  width: 96px;
  height: 96px;
  image-rendering: pixelated; /* prevents blur on high-dpi screens */
  margin-left: auto;
  margin-right: auto;
}

.card-sprite {
  margin: 0 5px 5px 0;
}

.card-sprite > .card-body {
  padding: 0 10px 10px 10px;
}

.card-sprite > .card-body > .card-text {
  font-size: small;
}

.sprites-row {
  margin-left: 0;
  margin-right: 0;
  align-items: center;
  justify-content: center;
}

.sprite-container {
  width: 96px;
  height: 96px;
  outline: 2px solid #eee;
  margin-bottom: 8px;
  animation: fadeOutSpriteContainer ease-in-out 0.5s;
}

@keyframes fadeOutSpriteContainer {
  from {
    background-color: #eee;
  }
  to {
    background-color: #fff;
  }
}

.sprite {
  opacity: 0;
  width: 96px;
  height: 96px;
  image-rendering: pixelated; /* prevents blur on high-dpi screens */
}

.sprite-loaded {
  animation: fadeIn ease-in-out 0.5s;
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h4.fake {
  width: 33%;
  background-color: #eee;
  animation: fadeIn ease-in-out 1s;
}

.sprite-container.fake {
  background-color: #eee;
  animation: fadeIn ease-in-out 1s;
}

.footer {
  background-color: #17285e;
  color: lightgray;
  font-size: small;
}

.footer a {
  color: white;
}

#wrapper {
  min-height: 100vh;
}

main {
  flex: 1 1 auto;
}

.jumbotron {
  background-color: #ffdf61;
  padding: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #17285e;
}
